body {
    margin: 0;
    font-family: "playfair display", serif;
    background-color: #EFE2D6;
    color: #000;
  }
  
 
  .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EFE2D6;
  padding: 20px 60px;
  height: 120px;
  gap: 80px;  
  }

  .navbar .logo {
    margin-bottom: -76px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    gap: 200px;
    margin: 0;
    padding: 0;
    font-size: 30px;
    margin-top: 5%;
  }
  
  .nav-links a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    letter-spacing: 1px;
  }
  
  .logo {
    position: relative;
    transform: none;
    margin-top: 76px; 
    z-index: 10;
  }
  
  .logo img {
    height: 320px; 
    display: block;
    top: -24px; 
  }
  
 
  .hero img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  
  .about {
    text-align: center;
    padding: 80px 50px;
    background-color: #EFE2D6;
    color: #000;
  }
  
  .about h2 {
    font-size: 50px;
    margin-bottom: 60px;
    font-weight: 100;
  }
  
  .about p {
    font-family: "Playfair Display", serif;
    max-width: 1000px;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 25px;
  }
body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  background-color: #e8ded7; /* fond beige */
  text-align: center;
}

.top-bar {
  background-color: white;
  padding: 15px 0;
}

.top-bar h1 {
  margin: 0;
  font-size: 20px;
  letter-spacing: 2px;
}

.image-row {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.image-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.art-img {
  width: 350px;
  height: auto;
  border-radius: 2px;
}

.caption {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  margin-top: 10px;
  font-size: 15px;
}

.voir-plus {
  margin-top: 40px;
}

.voir-plus a {
  text-decoration: none;
  color: black;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  border-bottom: 1px solid black;
  padding-bottom: 3px;
}
